*.py[cod]
__pycache__/
*.so
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
db.sqlite3
media/
staticfiles/
.vscode/
